<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="NoOfQuestions" value="10" />
    <add key="TestDuration" value="00:10:00" />
    <add key="MarksPerQuestion" value="10" />
    <add key="PassingMarks" value="50" />
  </appSettings>
</configuration>